body {
    background-color: rgb(238, 245, 244);
}

a {
    color: coral;
    text-decoration: none;
    font-weight: bold;
}

.button {
    color: white;
    background-color: coral;
    border-color: coral;
}

.bold {
    font-weight: bold;
    font-style: normal;
}

.c {
    color: coral;
}